@use 'sass:color';

@mixin cursor($name, $image, $fallback) {
    #{'--cursor-' + $name}: url('#{'/assets/images/ui/cursor/' + $image + '.png'}') 5 5, $fallback;
}

:root {
    --cursor-default: auto;
    --cursor-pointer: pointer;
    --cursor-forbidden: no-drop;

    &.custom-cursor {
        @include cursor(default, default_s, auto);
        @include cursor(pointer, pointer_s, pointer);
        @include cursor(forbidden, forbidden_s, no-drop);

        &-large {
            @include cursor(default, default, auto);
            @include cursor(pointer, pointer, pointer);
            @include cursor(forbidden, forbidden, no-drop);
        }
    }

    &.theme {
        &-light,
        &-dark {
            --color-rune-name: #ffa800;
            --color-tooltip-text: #ffffff;

            --color-gray-dark: #333333;
            --color-gray-medium: #666666;
            --color-gray-light: #999999;
            --color-gray-lightest: #cccccc;
            --color-gray-dark-transparent: #{color.change(#000000, $alpha: 0.9)};
            --color-gray-medium-transparent: #{color.change(#000000, $alpha: 0.6)};
            --color-gray-light-transparent: #{color.change(#000000, $alpha: 0.4)};
        }

        &-light {
            --theme-text: var(--color-gray-dark);
            --theme-tabs-border: #aaaaaa;

            --theme-background: #ffffff;
            --theme-background-transparent: #{color.change(#ffffff, $alpha: 0.8)};
            --theme-background-owned: #669933;
            --theme-background-craftable: #ffaa33;

            --theme-checkbox: var(--color-gray-light);
            --theme-checkbox-hover: var(--color-gray-medium);
            --theme-checkbox-checked: var(--color-gray-dark);
            --theme-background-image: url('/assets/images/ui/background/endgame2_hd.lowend.png');
            --theme-background-image-xl: url('/assets/images/ui/background/endgame2_hd.png');
            --theme-background-opacity: 0.6;

            --theme-input-background: var(--color-gray-light);
            --theme-input-border: var(--color-gray-medium);
            --theme-input-text: var(--theme-text);
            --theme-input-clear: var(--color-gray-medium);
            --theme-input-clear-hover: var(--color-gray-dark);

            --theme-button: var(--color-gray-medium);
            --theme-button-text: var(--theme-background);
            --theme-button-hover: var(--color-gray-dark);

            --theme-table-background: var(--color-gray-lightest);
            --theme-table-background-hover: var(--color-gray-light);
        }

        &-dark {
            --theme-text: #ffffff;
            --theme-tabs-border: #dddddd;

            $bg: #222222;
            $bg-owned: color.change(#00ff00, $alpha: 0.4);
            $bg-craftable: color.change(#ffaa33, $alpha: 0.8);
            --theme-background: $bg;
            --theme-background-transparent: #{color.change($bg, $alpha: 0.8)};
            --theme-background-owned: #{color.change(color.mix($bg, $bg-owned, $weight: 50%), $alpha: 1)};
            --theme-background-craftable: #{color.change(color.mix($bg, $bg-craftable, $weight: 50%), $alpha: 1)};

            --theme-background-image: url('/assets/images/ui/background/endgame_hd.lowend.png');
            --theme-background-image-xl: url('/assets/images/ui/background/endgame_hd.png');
            --theme-background-opacity: 1;

            --theme-checkbox: var(--color-gray-dark);
            --theme-checkbox-hover: var(--color-gray-medium);
            --theme-checkbox-checked: var(--color-gray-light);

            --theme-input-background: var(--color-gray-dark);
            --theme-input-border: var(--color-gray-medium);
            --theme-input-text: var(--theme-text);
            --theme-input-clear: var(--color-gray-medium);
            --theme-input-clear-hover: var(--color-gray-light);

            --theme-button: var(--color-gray-dark);
            --theme-button-text: var(--theme-text);
            --theme-button-hover: var(--color-gray-light);

            --theme-table-background: var(--color-gray-dark);
            --theme-table-background-hover: var(--color-gray-medium);
        }
    }
}
