@use 'variables';
@use 'mixins';

input {
    font-family: variables.$font-family-exocet;
    font-weight: bold;
    width: auto;
    min-width: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color: variables.$theme-input-text;
    caret-color: variables.$theme-input-text;

    &[type='text'],
    &[type='number'] {
        background: variables.$theme-input-background;
        border: 1px solid variables.$theme-input-border;
        border-radius: variables.$size-gap-small;
        padding: variables.$size-gap-small variables.$size-gap;

        &:focus {
            outline: none;
        }
    }

    &[type='number'] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.clearable-input {
    position: relative;

    input {
        width: 100%;
    }

    fa-icon {
        position: absolute;
        top: variables.$size-gap-small;
        right: variables.$size-gap-small;
        color: variables.$theme-input-clear;
        cursor: variables.$cursor-pointer;
        @include mixins.transition(color);

        &:hover {
            color: variables.$theme-input-clear-hover;
        }
    }
}

button,
.button {
    background: variables.$theme-button;
    border-radius: variables.$size-gap-small;
    border: none;
    color: variables.$color-rune-name;
    cursor: variables.$cursor-pointer;
    display: inline-block;
    font-family: variables.$font-family-exocet;
    font-weight: bold;
    padding: variables.$size-gap-small variables.$size-gap;
    text-align: center;
    text-shadow: variables.$shadow-text;
    user-select: none;

    &:hover:not([disabled]) {
        background: variables.$theme-button-hover;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: variables.$cursor-forbidden;
    }
}

label {
    font-family: variables.$font-family-exocet;
    font-weight: bold;
    display: inline-block;
    margin-top: variables.$size-gap;

    &:first-child {
        margin-top: 0;
    }
}
