@use 'variables';

.grid,
.row {
    display: grid;
    grid-gap: variables.$size-gap;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
}

.row {
    grid-auto-flow: column;
}
