@use 'variables';
@use 'mixins';

html,
body {
    font-family: sans-serif;
    color: variables.$theme-text;

    background: variables.$theme-background;
    transition: all 0.1s linear;
    //height: 100vh;
    //overflow: hidden;
}

.center-text {
    text-align: center;
}

$sizes: ('xs': 0.5rem, 's': 0.75rem, 'm': 1rem, 'l': 1.5rem, 'xl': 2rem);
@each $key, $size in $sizes {
    .text-#{$key} {
        font-size: $size;
    }
}

.hidden {
    display: none !important;
}
