@use 'variables';

th,
td {
    background: variables.$theme-table-background;
    padding: variables.$size-gap-small variables.$size-gap;

    &.child-height {
        height: 1px;
    }
}

tr {
    &:hover td {
        background: variables.$theme-table-background-hover;
    }
}

.table {
    display: grid;
    grid-gap: 2px;

    &-head,
    &-body {
        display: grid;
        grid-gap: 2px;

        > div {
            display: grid;
            background: variables.$theme-table-background;
            padding: variables.$size-gap-small variables.$size-gap;
            align-items: center;

            &.block {
                display: block;
            }
        }
    }

    &-head {
        font-weight: bold;
        text-align: center;

        > div {
            grid-auto-flow: column;
        }
    }

    &-body {
    }
}
