@use 'variables' as v;

.table {
    $header-height: 45px;

    &-row {
        grid-template-columns: 60px 50px 90px 80px 1fr;
    }

    &-head {
        height: $header-height;

        .header-name {
            grid-column: span 2;
        }
    }

    &-body {
        $offset: v.$size-gap * 4 + v.$size-tab-control + v.$size-gap-table * 2 + $header-height;
        max-height: calc(100vh - #{$offset});
        overflow-y: auto;

        .column {
            &-rune {
                justify-items: center;
            }
        }
    }
}
