@use 'variables' as v;

.table {
    &,
    &-body {
        grid-template-columns: 60px 50px 90px 80px 1fr;
    }

    ui-table-head,
    ui-table-sort-control {
        height: v.$size-header;
    }

    .header-name {
        grid-column: span 2;
    }

    &-body {
        display: grid;
        grid-gap: v.$size-gap-table;
        grid-column: span 5;
        $offset: v.$size-gap * 5 + v.$size-tab-control + 1px + v.$size-gap-table * 2 + v.$size-header;
        max-height: calc(100vh - #{$offset});
        overflow-y: auto;
    }

    .column {
        &-name {
            display: grid;
        }

        &-rune {
            display: grid;
            justify-items: center;
        }
    }
}
