<div class="grid filters">
    <label class="text-l">{{ 'labels.filters' | translate }}</label>

    <ui-collapsible labelKey="labels.search">
        <div class="clearable-input">
            <input
                (keyup)="search()"
                [(ngModel)]="filters.name"
                [placeholder]="'labels.search-placeholder' | translate"
                onClickSelect
                type="text"
            />
            <fa-icon (click)="this.filters.name = ''; search()" [icon]="clearInputIcon" class="clear-input"></fa-icon>
        </div>
    </ui-collapsible>

    <ui-collapsible labelKey="labels.show">
        <input-checkbox
            (click)="applyFilters()"
            [(checked)]="filters.showUnavailable"
            labelKey="labels.showUnavailable"
        ></input-checkbox>
        <input-checkbox
            (click)="applyFilters()"
            [(checked)]="filters.showCraftable"
            labelKey="labels.showCraftable"
        ></input-checkbox>
        <input-checkbox
            (click)="applyFilters()"
            [(checked)]="filters.showFavorite"
            labelKey="labels.showFavorite"
        ></input-checkbox>
    </ui-collapsible>

    <ui-collapsible labelKey="labels.numberOfRunes">
        <div class="clearable-input">
            <input
                (change)="applyFilters()"
                (keyup)="applyFilters()"
                [(ngModel)]="filters.numberOfRunes"
                [max]="6"
                [min]="0"
                [placeholder]="'labels.numberOfRunes' | translate"
                onClickSelect
                type="number"
            />
            <fa-icon
                (click)="this.filters.numberOfRunes = undefined; applyFilters()"
                [icon]="clearInputIcon"
                class="clear-input"
            ></fa-icon>
        </div>
    </ui-collapsible>
    <ui-collapsible labelKey="labels.maxClvl">
        <div class="clearable-input">
            <input
                (change)="clampClvl()"
                [(ngModel)]="filters.cLvl"
                [placeholder]="'labels.maxClvl' | translate"
                onClickSelect
                type="number"
            />
            <fa-icon
                (click)="this.filters.cLvl = undefined; applyFilters()"
                [icon]="clearInputIcon"
                class="clear-input"
            ></fa-icon>
        </div>
    </ui-collapsible>

    <ui-collapsible labelKey="labels.itemType">
        <input-checkbox
            (click)="updateFilters(itemType)"
            *ngFor="let itemType of itemTypes"
            [(checked)]="filters.itemTypes[itemType]"
            [labelKey]="'itemTypes.' + itemType"
        ></input-checkbox>
    </ui-collapsible>
</div>
