<div class="table">
    <ui-table-sort-control
        *ngFor="let header of headers"
        [header]="header"
        [sort]="runeSort"
        (onSort)="applySort($event)">
    </ui-table-sort-control>
    <ui-table-head labelKey="labels.craft" key="craft"></ui-table-head>
    <ui-table-head labelKey="labels.socketEffect" key="effects"></ui-table-head>

    <div class="table-body" ui-scrollable>
        <div class="table-row" *ngFor="let rune of runeArraySorted">
            <div class="column-name center-text">
                #{{ rune.number }}
                <br>
                {{ rune.name }}
            </div>
            <div class="column-rune">
                <ui-sprite-rune [rune]="rune" [size]="32"></ui-sprite-rune>
            </div>
            <div class="column-owned">
                <input-number-checkbox
                    [(value)]="rune.owned"
                    (valueChange)="onCountChange(rune)"
                ></input-number-checkbox>
            </div>
            <div class="column-crafts block center-text" *ngVar="rune.craft as craft">
                <ng-container *ngIf="craft">
                    <ui-sprite-rune *ngFor="let rune of craft.runes | asArray" [rune]="rune"
                                 [size]="32"></ui-sprite-rune>
                    <ui-sprite-gem *ngFor="let gem of craft.gems | asArray" [gem]="gem" [size]="32"></ui-sprite-gem>
                </ng-container>
            </div>
            <div class="column-effects block" *ngVar="rune.effects as effects">
                <ui-format-effect title="weapon"
                               [effects]="effects.weapon"></ui-format-effect>
                <ui-format-effect [title]="effects.shield ? 'armorHelm' : 'armorHelmShield'"
                               [effects]="effects.armorHelm"></ui-format-effect>
                <ui-format-effect title="shield"
                               [effects]="effects.shield"></ui-format-effect>
                <div>
                    <span *ngIf="rune.iLvl">
                        <strong>{{ 'labels.iLvl' | translate }}:</strong> {{ rune.iLvl }}
                    </span>
                    <strong>{{ 'labels.cLvl' | translate }}:</strong> {{ rune.cLvl || ('common.none' | translate) }}
                </div>
            </div>
        </div>
    </div>
</div>
