@use 'variables' as v;

$table-columns: 60px 50px 90px 80px 1fr;

.table {
    grid-template-columns: $table-columns;

    .header-name {
        grid-column: span 2;
    }

    &-body {
        grid-column: span 5;
        $offset: v.$size-gap * 3 + v.$size-tab-control + 1px + v.$size-gap-table * 2 + v.$size-header;
        max-height: calc(100vh - #{$offset});
    }

    .column {
        &-name {
            display: grid;
        }

        &-rune {
            display: grid;
            justify-items: center;
        }
    }
}

::ng-deep list-runes [ui-scrollable] .content {
    display: grid;
    grid-template-columns: $table-columns;
    grid-gap: v.$size-gap-table;
}
