@use 'variables' as v;

$table-columns: 60px 50px 90px 80px 76px 1fr;
$table-column-count: 6;

.table {
    grid-template-columns: $table-columns;

    .header-name {
        grid-column: span 2;
    }

    &-body {
        grid-column: span $table-column-count;
        $offset: v.$size-gap * 3 + v.$size-tab-control + 1px + v.$size-gap-table * 2 + v.$size-header;
        max-height: calc(100vh - #{$offset});
    }

    .column {
        &-name,
        &-craft {
            display: grid;
        }

        &-craft {
            justify-content: center;
        }

        &-rune {
            display: grid;
            justify-items: center;
        }
    }
}

.table-row .runes {
    &-craftable {
        background: v.$theme-background-craftable;
    }

    &-owned {
        background: v.$theme-background-owned;
    }
}

::ng-deep list-runes [ui-scrollable] .content {
    display: grid;
    grid-template-columns: $table-columns;
    grid-gap: v.$size-gap-table;
}
