.table {
    grid-template-columns: 90px 50px 90px repeat(3, 1fr) 90px;

    .header {
        &-gemType {
            grid-column: span 7;
        }

        &-quality {
            grid-column: span 2;
        }
    }
}
