<div class="grid">
    <label class="text-xl">{{ 'settings.title' | translate }}</label>

    <input-checkbox [label]="getTitleKey('darkMode') | translate"
                    [showIcon]="true"
                    [(checked)]="settings.darkMode"
                    (click)="onToggle('darkMode')"
    ></input-checkbox>
    <ui-sprite-skill [class]="this.settings.darkMode ? 'assassin' : 'sorceress'"
                     [skill]="this.settings.darkMode ? 'Shadow Master' : 'Lightning'"
                     [isDown]="true"
                     [size]="32"></ui-sprite-skill>

    <input-checkbox [label]="getTitleKey('enableBackground') | translate"
                    [showIcon]="true"
                    [(checked)]="settings.enableBackground"
                    (click)="onToggle('enableBackground')"
    ></input-checkbox>
    <ui-sprite-skill [class]="this.settings.enableBackground ? 'paladin' : 'barbarian'"
                     [skill]="this.settings.enableBackground ? 'Conversion' : 'Concentrate'"
                     [size]="32"></ui-sprite-skill>

    <input-checkbox [label]="getTitleKey('customCursor') | translate"
                    [showIcon]="true"
                    [(checked)]="settings.customCursor"
                    (click)="onToggle('customCursor')"
    ></input-checkbox>
    <ui-sprite-animated [scale]="0.25"
                        [frames]="16"
                        [animation]="{ direction: 'alternate' }"
                        sprite="oHand"></ui-sprite-animated>
</div>
