<ui-tabs name="index">
    <ui-tab tabTitle="common.runeWords" class="runeWords">
        <tab-pane-rune-words></tab-pane-rune-words>
    </ui-tab>
    <ui-tab tabTitle="common.runes">
        <tab-pane-runes></tab-pane-runes>
    </ui-tab>
    <ui-tab tabTitle="common.gems">
        <tab-pane-gems></tab-pane-gems>
    </ui-tab>
    <ui-tab tabTitle="labels.import">
        <tab-pane-character-import></tab-pane-character-import>
    </ui-tab>
    <ui-tab tabTitle="settings.title" [right]="true">
        <tab-pane-settings></tab-pane-settings>
    </ui-tab>
</ui-tabs>
