{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "insertPragma": false,
    "requirePragma": false,
    "proseWrap": "preserve",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore"
}
