@use 'variables';
@use 'mixins';

table {
    width: 100%;
}

.column {
    &-name,
    &-runes {
        display: grid;
    }
}

.runes {
    &-craftable {
        background: variables.$theme-background-craftable;
    }

    &-owned {
        background: variables.$theme-background-owned;
    }
}

.table {
    grid-template-columns:  90px 220px 130px 1fr;

    ui-table-sort-control {
        height: variables.$size-header;
    }
}
