@use 'variables';

:host {
    $offset: variables.$size-gap * 4 + variables.$size-tab-control + variables.$size-gap-small;
    height: calc(100vh - #{$offset});
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-gap: variables.$size-gap;
    grid-template-columns: max-content 3fr;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-areas:
    "filters tracking-select"
    "filters tracking-count"
    "filters runewords"
}

list-rune-words-filters {
    grid-area: filters;
}

rune-tracking-select {
    grid-area: tracking-select;
}

rune-tracking-counters {
    grid-area: tracking-count;
}

.list-wrapper {
    grid-area: runewords;
    position: relative
}

list-rune-words {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
}
