<div class="grid" ui-scrollable>
    <ng-container *ngFor="let gemType of gemArray">
        <div class="table">
            <ui-table-head key="gemType" [labelKey]="'gems.type.' + gemType.type"></ui-table-head>

            <ui-table-head key="quality" labelKey="gems.quality.title"></ui-table-head>
            <ui-table-head key="owned" labelKey="labels.owned"></ui-table-head>
            <ui-table-head key="recipe" labelKey="labels.recipe"></ui-table-head>
            <ui-table-head key="craft" labelKey="labels.craft"></ui-table-head>
            <ui-table-head key="effectWeapon" labelKey="labels.weapon"></ui-table-head>
            <ui-table-head key="effectArmorHelm" labelKey="labels.armorHelm"></ui-table-head>
            <ui-table-head key="effectShield" labelKey="labels.shield"></ui-table-head>
            <ui-table-head key="cLvl" labelKey="labels.cLvl" class="center-text"></ui-table-head>

            <div class="table-row" *ngFor="let gem of gemType.gems">
                <div class="column-quality">
                    {{ 'gems.quality.' + gem.quality | translate }}
                </div>
                <div class="column-gem">
                    <ui-sprite-gem [item]="gem" [size]="24"></ui-sprite-gem>
                </div>
                <div class="column-owned">
                    <input-number-checkbox
                        [(value)]="gem.owned"
                        (valueChange)="gemOwned(gem)"
                        [small]="true"
                    ></input-number-checkbox>
                </div>
                <div
                    class="column-crafts block center-text"
                    *ngVar="gem.craft?.gems as gems"
                    [class.gems-owned]="gem.craft?.hasMaterials"
                    [class.gems-craftable]="gem.craft?.canCraftMaterials"
                >
                    <ng-container *ngIf="gems">
                        <ui-sprite-gem
                            *ngFor="let gem of gems | asArray; index as i"
                            [item]="gem"
                            [size]="24"
                            [highlightOwned]="i + 1"
                        ></ui-sprite-gem>
                    </ng-container>
                </div>
                <div class="column-craft">
                    <ui-button
                        [labelKey]="'labels.applyCraft'"
                        sprite="transmuteButton"
                        [disabled]="!(gem.craft?.hasMaterials || gem.craft?.canCraftMaterials)"
                        (onButtonPress)="craft(gem)"
                        [size]="24"
                    ></ui-button>
                </div>
                <ng-container *ngVar="gem.effects as effects">
                    <div class="column-effectWeapon">
                        <ui-format-effect [effects]="effects.weapon"></ui-format-effect>
                    </div>
                    <div class="column-effectArmorHelm">
                        <ui-format-effect [effects]="effects.armorHelm"></ui-format-effect>
                    </div>
                    <div class="column-effectShield">
                        <ui-format-effect [effects]="effects.shield"></ui-format-effect>
                    </div>
                </ng-container>
                <div class="column-cLvl center-text">{{ gem.cLvl }}</div>
            </div>
        </div>
    </ng-container>
</div>
