@use 'variables';

$table-columns: 90px 34px 70px 76px 54px repeat(3, auto) 90px;
$table-column-count: 9;

.grid {
    height: 100%;
}

.table {
    grid-template-columns: $table-columns;

    .header {
        &-gemType {
            grid-column: span $table-column-count;
        }

        &-quality {
            grid-column: span 2;
        }
    }

    .column {
        &-quality,
        &-craft,
        &-effectWeapon,
        &-effectArmorHelm,
        &-effectShield,
        &-cLvl {
            display: grid;
        }
        &-gem {
            display: block;
            justify-content: center;
        }

        &-craft {
            justify-content: center;
        }

        &-gem,
        &-crafts {
            ui-sprite-gem {
                margin: 0 -2px;
            }
        }
    }
}

.table-row .gems {
    &-craftable {
        background: variables.$theme-background-craftable;
    }

    &-owned {
        background: variables.$theme-background-owned;
    }
}

::ng-deep list-gems {
    [ui-scrollable] .content {
        display: grid;
        grid-gap: variables.$size-gap;
        width: auto;
    }
}
