@use 'variables';
@use 'ui.table' as table;

.grid {
    height: 100%;
}

.table {
    grid-template-columns: 90px 40px 70px repeat(3, auto) 90px;

    .header {
        &-gemType {
            grid-column: span 7;
        }

        &-quality {
            grid-column: span 2;
        }
    }

    #{table.$td} {
        display: grid;
    }

    .column-gem {
        display: block;
        justify-content: center;
    }
}

::ng-deep list-gems {
    [ui-scrollable] .content {
        display: grid;
        grid-gap: variables.$size-gap;
        width: auto;
    }
}
