<ul class="nav nav-tabs">
    <li *ngFor="let tab of tabsConfig "
        (click)="selectTab(tab, $event)"
        [class.active]="tab.options.active"
        [class.right]="tab.options.right">
        <a href="#">{{ tab.options.title | translate }}</a>
    </li>
</ul>
<!--<ng-content></ng-content>-->
<ng-container *ngFor="let tab of tabsConfig">
    <ui-tab *ngIf="!tab.hide"
            [options]="tab.options"
            [class]="tab.cssClass">
        <ng-container *ngComponentOutlet="tab.component"></ng-container>
    </ui-tab>
</ng-container>
