@use 'variables';
@use 'mixins';

.label {
    background: variables.$theme-checkbox;
    display: block;
    user-select: none;

    &:hover {
        background: variables.$theme-checkbox-hover;
    }

    &.checked {
        background: variables.$theme-checkbox-checked;
    }

    &.text-xl {
        text-align: center;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

:host {
    display: block;
    height: 100%;
}
