@font-face {
    font-family: Exocet;
    src: url('Exocet_Heavy.woff') format('woff'),
    url('Exocet_Heavy.woff2') format('woff2'),
    url('Exocet_Heavy.ttf') format('truetype'),
    url('Exocet_Heavy.otf') format('opentype'),
    url('Exocet_Heavy.eot') format('embedded-opentype');
    font-weight: bold;
}

@font-face {
    font-family: Exocet;
    src: url('Exocet_Light.woff') format('woff'),
    url('Exocet_Light.woff2') format('woff2'),
    url('Exocet_Light.ttf') format('truetype'),
    url('Exocet_Light.otf') format('opentype'),
    url('Exocet_Light.eot') format('embedded-opentype');
    font-weight: normal;


}
