@use 'variables';
@use 'mixins';

.rune-tracker {
    display: grid;
    grid-gap: variables.$size-gap-small;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(11, 65px);
    text-align: center;
}
