<!--suppress SpellCheckingInspection -->
<div class="row testclass">
    <div class="grid skills">
        <div class="row">
            <div class="grid">
                <div class="row">
                    <ui-sprite-skill
                        [class]="class"
                        [index]="skillIndex"
                        [isDown]="isDown"
                        [size]="64"
                    ></ui-sprite-skill>
                    <input-checkbox [(checked)]="isDown" [showIcon]="true"></input-checkbox>
                </div>
                <button (click)="stringifySkills()">Get skills data</button>
            </div>
            <div class="grid">
                <input (keyup)="autoCompleteClass()" [(ngModel)]="class" onClickSelect type="text" />
                <input [(ngModel)]="skillIndex" [max]="getMax()" [min]="0" onClickSelect type="number" />

                <input (keyup)="autoCompleteSkill()" [(ngModel)]="skill" onClickSelect type="text" />
            </div>
        </div>
        <pre *ngIf="skillsString" class="pointer" onClickSelect>{{ skillsString }}</pre>
        <ui-sprite-class [class]="characterClass"></ui-sprite-class>
    </div>
    <div>
        <div class="logo">
            <ui-sprite-animated
                [animation]="{ direction: 'normal' }"
                [frames]="6"
                class="background"
                sprite="logo/fullglow_pc.lowend"
            ></ui-sprite-animated>
            <ui-sprite-animated
                [animation]="{ direction: 'normal' }"
                [frames]="27"
                class="foreground"
                sprite="logo/logoanimation.lowend"
            ></ui-sprite-animated>
            <img alt="" class="foreground" src="/assets/images/sprites/logo/resurrectedtext.lowend.png" />
            <ui-sprite-animated
                [animation]="{ direction: 'normal' }"
                [frames]="27"
                class="foreground"
                sprite="logo/logo_bottomflame.lowend"
            ></ui-sprite-animated>
        </div>
    </div>
</div>
