<div class="row">
    <div class="grid controls">
        <label class="text-xl">{{ 'labels.import' | translate }}</label>
        <input-game-save-file (onParse)="onParse($event)"></input-game-save-file>
        <p>{{ 'labels.saveToFiltersHelp' | translate }}</p>
        <button (click)="applySaveToFilters()"
                [disabled]="!parseResult">{{ 'labels.saveToFilters' | translate }}</button>
        <pre *ngIf="logText">{{ logText }}</pre>
    </div>

    <div class="grid" *ngIf="parseError">
        <label>{{ 'common.error' | translate }}</label>
        <div class="table table-error">
            <ui-table-head labelKey="log.parseError"></ui-table-head>
            <div class="column-error">
                {{ parseError.error }}
            </div>
        </div>
    </div>
    <div class="grid" *ngIf="parseResult">
        <label>{{ 'labels.imported' | translate }}</label>
        <div class="table table-result">
            <ui-table-head [label]="'labels.character' | translate"></ui-table-head>
            <ui-table-head *ngIf="gems" [label]="'common.gems' | translate"></ui-table-head>
            <ui-table-head *ngIf="runes" [label]="'common.runes' | translate"></ui-table-head>
            <ui-table-head *ngIf="runeWords" [label]="'common.runeWords' | translate"></ui-table-head>

            <div class="column-character">
                <ui-table-record *ngIf="character" [record]="character"></ui-table-record>
                <ui-sprite-class [class]="getClass()"></ui-sprite-class>
            </div>
            <ui-table-record *ngIf="gems"
                             class="column-gems"
                             labelKey="common.gems"
                             [record]="gems"
                             sortBy="key"
            ></ui-table-record>
            <ui-table-record *ngIf="runes"
                             class="column-runes"
                             labelKey="common.runes"
                             [record]="runes"
                             sortBy="key"
            ></ui-table-record>
            <ui-table-record *ngIf="runeWords"
                             class="column-runeWords"
                             labelKey="common.runeWords"
                             [record]="runeWords"
                             sortBy="key"
            ></ui-table-record>
        </div>
    </div>
</div>
