<label>{{ 'common.runeWords' | translate }}</label>

<ui-scrollable vertical="child" horizontal="bottom">
    <div class="table-wrapper">
        <div class="table">
            <ui-table-sort-control
                *ngFor="let header of headers"
                [header]="header"
                [sort]="runeWordSort"
                (onSort)="applySort($event)"
            ></ui-table-sort-control>

            <div class="table-body" ui-scrollable vertical="left" horizontal="none">
                <ng-container *ngFor="let runeWord of runeWordArraySorted">
                    <div class="table-row" *ngVar="!showRuneWord(runeWord) as hidden" [class.hidden]="hidden">
                        <ng-container *ngVar="runeWord.craft?.runes | asArray as runeList">
                            <div class="column-owned">
                                <input-number-checkbox
                                    [(value)]="runeWord.owned"
                                    (valueChange)="runeWordOwned(runeWord)"
                                ></input-number-checkbox>
                            </div>
                            <div class="column-name">
                                <div class="details">
                                    <span>
                                        <strong>{{ runeWord.name }}</strong>
                                        <fa-icon
                                            class="pointer"
                                            [title]="'labels.favorite' | translate"
                                            [icon]="runeWord.favorite ? heartSolid : heartOutline"
                                            (click)="toggleFavorite(runeWord)"
                                        ></fa-icon>
                                    </span>
                                    <em>{{ runeNames(runeList) }}</em>
                                    <div>
                                        <ng-container *ngFor="let rune of runes(runeList); let last = last">
                                            <span [tooltipSocketable]="rune" [tooltipDelay]="2000">
                                                <span>{{ rune.name }} ({{ rune.number }})</span>
                                            </span>
                                            <span *ngIf="!last" class="plus">+</span>
                                        </ng-container>
                                    </div>
                                    <span>
                                        {{ formatItemTypes(runeWord.itemTypes) + ' {' + runeList.length + '}' }}
                                    </span>
                                </div>
                                <div>
                                    <strong>{{ 'labels.cLvl' | translate }}:</strong>
                                    <span>{{ runeWord.cLvl || ('common.none' | translate) }}</span>
                                </div>
                            </div>
                            <div
                                class="column-runes runes center-text"
                                [class.runes-owned]="runeWord.craft?.hasMaterials"
                                [class.runes-craftable]="runeWord.craft?.canCraftMaterials"
                            >
                                <div>
                                    <ui-sprite-rune
                                        *ngFor="let rune of runeList"
                                        [item]="rune"
                                        [size]="32"
                                        [highlightOwned]="true"
                                    ></ui-sprite-rune>
                                </div>
                            </div>
                            <div class="column-craft">
                                <ui-button
                                    [labelKey]="'labels.applyCraft'"
                                    sprite="transmuteButton"
                                    [disabled]="!(runeWord.craft?.hasMaterials || runeWord.craft?.canCraftMaterials)"
                                    (onButtonPress)="craft(runeWord)"
                                ></ui-button>
                            </div>
                        </ng-container>
                        <div class="column-effects" *ngVar="runeWord.effects as effects">
                            <ui-format-effect [effects]="effects" [lineBreak]="true"></ui-format-effect>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ui-scrollable>
