@use 'variables';
@use 'mixins';

$table-columns: 90px 220px 130px 1fr;

.column {
    &-name .details,
    &-runes {
        display: grid;
    }

    &-name {
        display: grid;
        grid-template-rows: auto min-content;
        align-content: space-between;

        .plus {
            margin: 0 variables.$size-gap-small;
        }
    }
}

.runes {
    &-craftable {
        background: variables.$theme-background-craftable;
    }

    &-owned {
        background: variables.$theme-background-owned;
    }
}

.table-wrapper {
    position: relative;
    min-width: 1000px;

    .table {
        grid-template-columns: $table-columns;
        grid-template-rows: variables.$size-header auto;
        position: absolute;
        width: 100%;
        height: 100%;
        background: none;
    }

    .table-body {
        grid-column: span 4;
    }
}

::ng-deep list-rune-words {
    .table-body[ui-scrollable] .content {
        display: grid;
        grid-template-columns: $table-columns;
        grid-gap: variables.$size-gap-table;
    }

    ui-table-sort-control {
        height: variables.$size-header;
        box-sizing: border-box;
    }

    ui-scrollable {
        .content,
        .table-wrapper {
            height: 100% !important;

            .content {
                height: min-content !important;
            }
        }
    }
}
