<label>{{ 'common.runeWords' | translate }}</label>

<ui-scrollable horizontal="bottom" vertical="child">
    <div class="table-wrapper">
        <div class="table">
            <ui-table-sort-control
                (onSort)="applySort($event)"
                *ngFor="let header of headers"
                [header]="header"
                [sort]="runeWordSort"
            ></ui-table-sort-control>

            <div class="table-body" horizontal="none" ui-scrollable vertical="left">
                <ng-container *ngFor="let runeWord of runeWordArraySorted">
                    <div *ngVar="!showRuneWord(runeWord) as hidden" [class.hidden]="hidden" class="table-row">
                        <ng-container *ngVar="runeWord.craft?.runes | asArray as runeList">
                            <div class="column-owned">
                                <input-number-checkbox
                                    (valueChange)="runeWordOwned(runeWord)"
                                    [(value)]="runeWord.owned"
                                ></input-number-checkbox>
                            </div>
                            <div class="column-name">
                                <div class="details">
                                    <span>
                                        <strong>{{ runeWord.name }}</strong>
                                        <fa-icon
                                            (click)="toggleFavorite(runeWord)"
                                            [icon]="runeWord.favorite ? heartSolid : heartOutline"
                                            [title]="'labels.favorite' | translate"
                                            class="pointer"
                                        ></fa-icon>
                                    </span>
                                    <em>{{ runeNames(runeList) }}</em>
                                    <div>
                                        <ng-container *ngFor="let rune of runes(runeList); let last = last">
                                            <span [tooltipDelay]="tooltipDelay" [tooltipSocketable]="rune">
                                                <span>{{ rune.name }} ({{ rune.number }})</span>
                                            </span>
                                            <span *ngIf="!last" class="plus">+</span>
                                        </ng-container>
                                    </div>
                                    <span>
                                        {{ formatItemTypes(runeWord.itemTypes) + ' {' + runeList.length + '}' }}
                                    </span>
                                </div>
                                <div>
                                    <strong>{{ 'labels.cLvlRequired' | translate }}:</strong>
                                    <span>{{ runeWord.cLvl || ('common.none' | translate) }}</span>
                                </div>
                            </div>
                            <div
                                [class.runes-craftable]="runeWord.craft?.canCraftMaterials"
                                [class.runes-owned]="runeWord.craft?.hasMaterials"
                                class="column-runes runes center-text"
                            >
                                <div>
                                    <ui-sprite-rune
                                        *ngFor="let rune of runeList"
                                        [highlightOwned]="true"
                                        [item]="rune"
                                        [size]="32"
                                    ></ui-sprite-rune>
                                </div>
                            </div>
                            <div class="column-craft">
                                <ui-button
                                    (onButtonPress)="craft(runeWord)"
                                    [disabled]="!(runeWord.craft?.hasMaterials || runeWord.craft?.canCraftMaterials)"
                                    [labelKey]="'labels.applyCraft'"
                                    sprite="transmuteButton"
                                ></ui-button>
                            </div>
                        </ng-container>
                        <div *ngVar="runeWord.effects as effects" class="column-effects">
                            <ui-format-effect [effects]="effects" [lineBreak]="true"></ui-format-effect>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ui-scrollable>
