@use 'variables';
@use 'mixins';

label {
    display: block;
    cursor: pointer;
    margin: variables.$size-gap-small 0;
}

.collapsible {
    height: auto;
    overflow: hidden;

    .wrapper {
        grid-template-columns: none;
    }
}

::ng-deep fa-icon.up svg {
    transform: rotate(180deg);

    &.fa-pull-left {
        transform: rotate(-180deg);
    }
}

.transition {
    .collapsible .wrapper {
        @include mixins.transition(margin-top);
    }

    ::ng-deep fa-icon svg {
        @include mixins.transition(transform);
    }
}
