@use 'variables';
@use 'mixins';

:host {
    position: relative;
    display: flex;
    overflow: auto;
    z-index: 0;
    //noinspection CssUnknownProperty
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0;
        height: 0;
    }
}

.content {
    position: relative;
    z-index: 0;
    height: fit-content;
    width: 100%;
}

.bars {
    position: sticky;
    top: 0;
    left: 0;
    min-width: 100%;
    margin-right: -100%;
    pointer-events: none;
    z-index: 1;

    &:after {
        position: absolute;
        display: block;
        content: " ";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        pointer-events: none;
        box-shadow: var(--scroll-shadow);
    }
}

.bar {
    $bar-end: 14px;
    $bar-width: 18px;

    position: absolute;
    pointer-events: auto;
    cursor: variables.$cursor-pointer;
    opacity: 0.2;

    @include mixins.transition(opacity);

    &:hover,
    &:active {
        opacity: 1;
    }

    &_vertical,
    &_horizontal {
        .up,
        .down {
            background-image: url('/assets/images/ui/scroll/scrollbar_end.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: $bar-width;
            height: $bar-end;

            &:before {
                content: " ";
                display: block;
                position: relative;
                top: 3px;
                left: 4px;
                background-image: url('/assets/images/ui/scroll/button_up.png');
                background-repeat: no-repeat;
                background-size: 43px 10px;
                width: 10px;
                height: 10px;
            }

            &:hover:before {
                background-position-x: -11px;
            }
        }
    }

    &_vertical {
        top: 0;
        width: $bar-width;
        background-image: url('/assets/images/ui/scroll/scrollbar_middle.png');
        background-size: 18px 416px;
        margin: $bar-end 0;
        bottom: 0;

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
        }

        .up {
            position: absolute;
            top: -$bar-end;
        }

        .down {
            position: absolute;
            bottom: -$bar-end;
            transform: scaleY(-1);
        }
    }

    &_horizontal {
        left: 0;
        height: $bar-width;
        background-image: url('/assets/images/ui/scroll/scrollbar_middle_horizontal.png');
        background-size: 416px 18px;
        margin: 0 $bar-end;
        right: 0;

        &_top {
            top: 0;
        }

        &_bottom {
            bottom: 0;
        }

        .up,
        .down {
            position: absolute;
            top: 2px;
        }

        .up {
            left: -$bar-end;
            transform: rotate(270deg);
        }

        .down {
            right: -$bar-end;
            transform: rotate(90deg);
        }
    }

    &_has-horizontal {
        bottom: $bar-end;
    }

    &_has-vertical {
        right: $bar-end;
    }
}

.thumb {
    position: absolute;
    pointer-events: auto;
    width: 18px;
    height: 15px;
    background: url('/assets/images/ui/scroll/thumb.png') no-repeat center;
    z-index: 1;

    .bar_vertical &,
    .bar_horizontal & {
        background-size: 13px 16.5px;
    }

    .bar_vertical & {
        right: 0;
        background-size: 13px 16.5px;
    }

    .bar_horizontal & {
        bottom: 2px;
        background-size: 13px 16.5px;
        transform: rotate(90deg);
    }
}
